* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.banner {
    content: url(./banner_with_logo.png);
    max-width: 65%;
    display: inline;
    padding-right: 1rem;
}

.bannerContainer>a {
    text-decoration: none;
}

.banner_contactInfo {
    max-width: 30%;
    display: inline-block;
    padding-left: 1.2rem;
    border-left: 1px dotted red;

}

.bannerContainer {
    background-color: azure;
    padding: 0.25rem;
    border-bottom: 2px dotted black;
}

.banner_contactInfo>ul>li>img {
    vertical-align: middle;
    margin-right: 5px;

}

.banner_contactInfo>ul>li {
    list-style: none;
    border-radius: 10px;
    background: #80808052;
    font-weight: lighter;
    color: #0b0b08;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 0rem 0.2rem 0.2rem 0rem;
}












.menuContaner {
    height: 35px;
    background: linear-gradient(to right, #0f733b 0%, #294aa5 80%);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.menuContaner>a>li {
    list-style: none;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
    padding: 0.2rem;
    color: white;
}

a {
    text-decoration: none;
}




.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: grey;
    color: white;
}

.footerContainer>div {
    display: inline-block;
    width: 100%;

    flex-basis: 24%;
    border-left: 1px dotted white;
    padding: 1rem;
}

.footer_impLinks>a {
    display: block;
    color: white;
    padding: 0.5rem;
}

.footer_links_Sum>a>li {
    list-style: none;
    color: white;
    padding: 0.5rem;
}

h3 {
    color: #0f1310;
    border-bottom: 2px solid white;
}

@media screen and (max-width: 1080px) {

    .banner,
    .banner_contactInfo {
        display: block;
        max-width: 100%;
    }

    .banner {
        padding-bottom: 0.2rem;
        border-bottom: 1px dashed red;
    }

    .banner_contactInfo {
        max-width: 100%;
        display: flex;
        border: none;
        padding-top: 0.5rem;
        justify-content: center;
    }

    .banner_contactInfo>ul>li {
        display: inline-block;
    }



    .menuContaner {
        justify-content: center;
    }

    .menuContaner>a>li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .footerContainer>div {
        flex-basis: 49%;
        margin-bottom: 3px;
    }

}

@media screen and (max-width: 580px) {

    .menuContaner>a>li {
        margin: 0px;
        border-right: 0.5px solid grey;
        border-left: 0.5px solid grey;
    }

    .footerContainer>div {
        flex-basis: 100%;
        margin-bottom: 3px;
    }

}